<h1>Users Search</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Zipcode</th>
      <th scope="col">Roles</th>
      <th scope="col">Editions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.zipcode %></td>
        <td>Roles</td>
        <td>Edditions</td>
      </tr>
    <% end %>
  </tbody>
</table>