<br>
<div class="d-flex justify-content-center">
    <div class="jumbotron home text-light col-sm-10">
        <div class="d-flex justify-content-center">
            <img src='http://hchlibrary.org/files/d20-2699387_1920.png' class="landing-image">
        </div>
        <h2 class="d-flex justify-content-center">Welcome To</h2> <h1 class="d-flex justify-content-center">Dungeon Seeking Dragon</h1>
        <div class="row d-flex justify-content-center">
            <h4>We take the guess-work out of finding a D&amp;D group so you can get playing!</h4><br>
        </div>
        <div class="row d-flex justify-content-center">
            <h6 class="justify-content-around">Dungeons &amp; Dragons is a tabletop roleplaying game, played with dice and friends!</h6>
            <h6>It's having something of a renaissance right now and more and more people are coming to the table.</h6>
        </div>
        <div class="row d-flex justify-content-center">
            <h6>But sometimes you still just can't pull a group together and that's where we come in!</h6><br>
        </div>
        <div class="row d-flex justify-content-center">
            <h5>DsD is a "looking for group" app that helps Dungeons &amp; Dragons players find groups to play with!</h5>
        </div>
    </div>
</div>
<div class="footer container bg-dark col-sm-12">
        <span class="text-light"></span>
</div>