<br>
<div class="jumbotron">
    <h1 class="d-flex justify-content-center">Welcome To Dungeon Seeking Dragon</h1>
    <h4>We take the guess-work out of finding a D&D group so you can get playing!</h4>
    <p>Dungeons & Dragons is a tabletop roleplaying game, played with dice and friends! It's having something of a renaissance right now and more and more people are coming to the table. But sometimes you still just can't pull a group together and that's where we come in!</p>
    <h5>DsD is a "looking for group" app that helps Dungeons and Dragons players find groups to play with!</h5>
</div>