/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* body {
     background-image: url("bg3.jpg");
     background-repeat: repeat;
 } */

 /* Global */

h1 {
    font-size: 36px;
    color: #dc3545;
}

td {
    text-decoration: none;
    color: white;

 }

li {
    list-style: none
}

.jumbotron {
    background-color: rgba(0, 0, 0, .8);
}

.mat-card-header-text {
    width: 100%
}

/* Navigation */

.nav {
    width: 100%;
}

.badge {
    display: inline-block;
    margin-top: 12px;
}

navbar {
    width: 100%;
}

/* Home */

.home {
    margin-top: 10vh;
}

.landing-image {
    width: 150px;
    height: 160px;
}

.footer {
    position: absolute;
    width: 100vw;
    margin-top: -100px; /* negative value of footer height */
    margin-left: -15px;
    height: 60px;
    clear:both;
    padding-top:20px;
    bottom: 0;
}

/* Forms */

h4 > label {
    color: #dc3545;
}

form > div > h4 {
    color: #dc3545;
}

.form-check-label {
    color: white;
}

.checkboxes > span {
    color: white;
}

/* login */

.login-btn {
    margin-top: 20px;
    margin-bottom: -30px;
}

.login-container {
    margin-top: 15vh;
}

/* User Page */

.profilepic > img {
    width: 150px;
    height: 150px;
}

.aboutme {
    width: 80%;
}

.mycampaigns {
    margin-left: 10%;
    width: 80%;
}

.card-header {
    color: white;
}

.bio {
    color: white;
}

.bio > h5 {
    color: #dc3545;
}

.card-header {
    width: 100%;
    position: relative;
}

.list-btn {
    margin: 10px 0 -10px 0;
}

/* Campaign Show */
.camptitle {
    color: white;
}

.camp > h5 {
    color: #dc3545;
}

.camp > a {
    color: #dc3545;
}

/* Campaign Index */

.searchheader {
    display: inline-block;
    margin-top: 8px;
}

/* Notifications Page */

.notif > h5 > a, .notif > p > a {
    color: #dc3545;
}
